/* Estilos para los botones del navbar */
.navbar-nav .nav-link {
  font-family: 'Montserrat', sans-serif; /* Cambia la fuente de los botones */
  font-weight: 500; /* Ajusta el peso de la fuente según sea necesario */
  color: #333; /* Color original del texto */
  transition: color 0.3s; /* Agrega una transición para suavizar el cambio de color */
}

/* Estilo hover para los botones del navbar */
/* .navbar-nav .nav-link:hover {
  color: #ff0000 !important;
} */

#inicio {
  background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20221214/pngtree-business-woman-writing-notes-woman-accountant-career-photo-image_42323738.jpg');
  background-size: cover;
  background-position: center;
  color: black; /* Cambiado a negro */
  padding: 100px 0;
  font-family: 'Montserrat', sans-serif;
}

/* Estilo para el div centrado en la sección de inicio */
#inicio-content {
  max-width: 600px;
  margin: 0; /* Modificado para eliminar el margen en los lados y centrar el contenido */
  padding-left: 20px; /* Agregado un relleno a la izquierda para mover el contenido más a la izquierda */
}
.tituloprincipal {
  color: white;
  font-size: 46px;
}
 
/* Estilo para la sección Nosotros */
#nosotros {
  padding: 60px 0;
  
}
.circle {
  background: lightblue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10px; /* Agregado un margen para separar las bolitas */
}
/* Estilo para centrar el contenido dentro de la sección */
#nosotros .container {
  font-family: 'Montserrat', sans-serif; /* Cambia la fuente de los botones */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.texto{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  font-size: 20px;

}
/* Estilo para el título dentro de la sección Nosotros */
#nosotros h2 {
  color: #333; /* Color del texto del título */
  font-size: 36px; /* Tamaño del texto del título */
  margin-bottom: 20px; /* Espaciado inferior del título */
}


#servicios .container {
  font-family: 'Montserrat', sans-serif; /* Cambia la fuente de los botones */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#servicios h2 {
  color: #333; /* Color del texto del título */
  font-size: 36px; /* Tamaño del texto del título */
  margin-bottom: 20px; /* Espaciado inferior del título */
  margin-top: -50px;
}

.contacto h2 {
  color: #333; /* Color del texto del título */
  font-size: 36px; /* Tamaño del texto del título */
  margin-bottom: 20px; /* Espaciado inferior del título */
  margin-top: -50px;
}
.ubicacion {
  width: 100%;
  height: 100%;
  min-height: 500px; /* Ajusta este valor según sea necesario */
}

.contacto .container {
  font-family: 'Montserrat', sans-serif; /* Cambia la fuente de los botones */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Estilo para el texto dentro de la sección Nosotros */
#nosotros p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  color: #666; /* Color del texto del párrafo */
  font-size: 18px; /* Tamaño del texto del párrafo */
}
.a{
  font-family: 'Montserrat', sans-serif; /* Cambia la fuente de los botones */
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: -50px;
}
#servicios p {
  color: #666; /* Color del texto del párrafo */
  font-size: 16px; /* Tamaño del texto del párrafo */
}

section {
    padding: 60px 0;
}
.texto-con-margen{
  margin-top: 60px; /* Puedes ajustar el valor según tus preferencias */
}


@media (max-width: 767.98px) {
  .texto-con-margen {
    margin-top: 4px;
  }
}


.formulario-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerr {
  max-width: 700px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.input-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #aaa;
}

.input-box input:focus ~ i {
  color: crimson;
}

.input-box textarea {
  width: 100%;
  height: 130px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  resize: none;
}

form button {
  width: 100%;
  padding: 10px;
  background: crimson;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background: darkred;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .rights {
  flex-grow: 1;
} footer .whatsapp a {
  color: #4caf50; /* Verde claro */
  font-size: 36px; /* Tamaño más grande */
  transition: color 0.3s;
}

footer .whatsapp a:hover {
  color: #45a049; /* Verde más oscuro al pasar el mouse */
}

@media screen and (max-width: 600px) {
  footer .whatsapp a {
      font-size: 28px; /* Ajuste para dispositivos móviles */
  }
}